<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body class="contactosBody">
    <header>
        <div class="title1">
            <h2>Diseño</h2>
            <h2 class="titleblue">Multimedia</h2> 
        </div>
        <div class="hover-a">
            <nav>
                <a href="../index.html">INICIO</a>
                <a href="nosotros.html">NOSOTROS</a>
                <a href="servicios.html">SERVICIOS</a>
                <a href="#">CONTACTO</a>
            </nav>
        </div>
    </header>
<section class="menu-suscribete">
    <div>
        <h2>Subscribete a nuestro boletin</h2>
    </div>
    <div class="boton">
        <input type="email" value=" ingrese el Email...">
        <button>Subscribete</button>
    </div>
</section>

<section class="seccionContacto">
    <section class="cuestionario">
        <h2>Contacto</h2>
        <div class="cajaCuestionario">
            <label for="">Nombre</label>
            <input type="text" value="ingresa tu nombre">
        </div>
        
        <div class="cajaCuestionario">
            <label for="">Email</label>
            <input type="email" value="ingresa tu email">
        </div>
        
        <div class="cajaCuestionario">
            <label for="">Teléfono</label>
            <input type="tel" value="ingresa tu télefono">
        </div>
        
        <div class="cajaCuestionario">
            <label for="">Celular</label>
            <input type="tel" value="ingresa tu Celular">
        </div class="cajaCuestionario">
        
        <div class="cajaCuestionario2">
            <label for="">Mensaje</label>
            <textarea name="" id=""></textarea>
        </div>
        
        <button>Enviar</button>

    </section>

    <section>
        <div class="container2">
            <div class="cajaCont">
                <h2>Que hacemos</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum maxime aspernatur, architecto inventore expedita, natus atque facilis, sapiente tempore quisquam voluptatum earum consequuntur consectetur a neque deleniti quae laudantium Lorem, ipsum </p>
            </div>
            <img src="../assets/mapaGoogle.png" alt="" class="mapa">
        </div>
    </section>

</section>


<footer>
    <h2>Graphel Desarrollo Web, copyright 2017 </h2>

</footer>


</body>
</html>