<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="title1">
            <h2>Diseño</h2>
            <h2 class="titleblue">Multimedia</h2> 
        </div>
        <div class="hover-a">
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="#">NOSOTROS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
        </nav>
    </div>
    </header>
    
<section class="menu-suscribete">
    <div>
        <h2>Subscribete a nuestro boletin</h2>
    </div>
    <div class="boton">
        <input type="email" value=" ingrese el Email...">
        <button>Subscribete</button>
    </div>
</section>


<section class="seccion1">
<section class="container1">
        <div>
            <h2>Nosotros</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit rem dolores placeat dignissimos officiis nihil tenetur sit, quas qui quod. Praesentium dolorum, quo ex doloremque amet nesciunt rem unde corrupti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia blanditiis molestias, ducimus aspernatur explicabo vel voluptatem sequi odio voluptate, suscipit officia beatae ratione repellendus amet, nihil deserunt itaque soluta fugit?</p>
        </div>
        <div class="fondogris">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus a ut quam neque quia vel consequatur? Eos, necessitatibus sequi numquam cum sed, deleniti in soluta minus quibusdam inventore nemo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas quaerat, sapiente, modi id maiores illum natus nesciunt error sunt consequatur, in quibusdam distinctio? Velit dolores recusandae, corrupti necessitatibus accusamus ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo facere quaerat mollitia animi distinctio! Atque magnam maiores quidem nisi quisquam natus aliquid, laboriosam aliquam ipsam. Reiciendis eveniet aliquam inventore error.
            </p>
        </div>
        <div>
            <img src="../assets/891.jpg" alt="">
        </div>
</section>
<section>
    <div class="container2">
        <div class="">
            <h2>Que hacemos</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum maxime aspernatur, architecto inventore expedita, natus atque facilis, sapiente tempore quisquam voluptatum earum consequuntur consectetur a neque deleniti quae laudantium Lorem, ipsum </p>
        </div>
</div>
</section>

        
        
</section>

<footer class="footerNosotros">
    <h2>Graphel Desarrollo Web, copyright 2017 </h2>

</footer>


</body>
</html>