<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="title1">
            <h2>Diseño</h2>
            <h2 class="titleblue">Multimedia</h2> 
        </div>
        <div class="hover-a">
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="nosotros.html">NOSOTROS</a>
            <a href="#">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
        </nav>
    </div>
    </header>
<section class="menu-suscribete">
    <div>
        <h2>Subscribete a nuestro boletin</h2>
    </div>
    <div class="boton">
        <input type="email" value=" ingrese el Email...">
        <button>Subscribete</button>
    </div>
</section>


<section class="seccionServicios">
<section class="cajaservicios">
        <h2>Servicios</h2>
    <div class="caja1">
        <h2>Diseño Wed</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptates voluptatem molestias eum sequi magni ex esse alias iste unde inventore tempore dolorem, quos ut facilis. Soluta, obcaecati eos? Neque?</p>
        <p>Precio: $300000 - $1000000</p>
    </div>
    <div class="caja1">
        <h2>Diseño Wed</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptates voluptatem molestias eum sequi magni ex esse alias iste unde inventore tempore dolorem, quos ut facilis. Soluta, obcaecati eos? Neque?</p>
        <p>Precio desde: $1000000</p>
    </div>
    <div class="caja1">
        <h2>Hosting Wed</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptates voluptatem molestias eum sequi magni ex esse alias iste unde inventore tempore dolorem, quos ut facilis. Soluta, obcaecati eos? Neque?</p>
        <p>Precio: $300000</p>
    </div>
</section>
<section>
    <div class="container2">
        <div class="">
            <h2>Que hacemos</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum maxime aspernatur, architecto inventore expedita, natus atque facilis, sapiente tempore quisquam voluptatum earum consequuntur consectetur a neque deleniti quae laudantium Lorem, ipsum </p>
        </div>
    </div>
</section>



</section>




<footer>
    <h2>Graphel Desarrollo Web, copyright 2017 </h2>

</footer>


</body>
</html>